/* .box{

border: 2px solid crimson;
width: 100%;
} */
/* *{

    margin: 0px;
    padding: 0px;
} */
/* .parent{
    width: 50%;
    border: solid black 1px;
    background-color: beige;
}

.child{
width: 50%;
border: solid black 1px;
background-color: aqua;

} */
/* .container{
    border: solid black 1px;
    width: 50vw;
    height: 50vh;
    
} */
/* .box{

border: solid red 15px;
font-size: 100px;

} */
/* .container{
    font-size: 10px;
}
.box{
    font-size: 10em;
} */
p{
font-size: 2rem;

}
h6{

border: solid red 4px;

}